/*Reset styles*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Button*/
.btn {
    width: 100%;
    border: none;
    padding: 6px;
    color: white;
    cursor: pointer;
}

.primary-btn {
    background: #0E6397;
}

.danger-btn {
    background: #D61425;
}

/*Select styles*/
select {
    padding: 0;
}