/*Default width*/
body {
    width: 410px;
}

/*Container styles*/
.container {
    font-size: 1.1em;
    margin: 0 auto;
}

/*Theme switch*/
#themesSwitch {
    display: inline-block;
    padding: 0;
}

/*Theme section*/
section.theme select {
    display: inline-block;
}

/*Language preference section*/
#langsSwitch {
    width: 85%;
    margin: 2px auto 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
#langsSwitch > .lang-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin: 2px;
    white-space: nowrap;
    background: transparent;
    cursor: pointer;
    transition: transform .3s;
}
#langsSwitch > .lang-wrapper:hover {
    transform: scale(1.2);
}
#langsSwitch > .lang-wrapper > label {
    margin-left: 4px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

/*Auto parse section*/
#autoParseSwitch {
    display: inline-block;
    padding: 0;
}

/*Action button styles*/
.btn-group {
}

#parseBtn {
    margin-bottom: 6px;
}
