.container {
    width: 250px;
}

.container, .container form {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container form.highlight-form {
}

.container form.theme-form {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.footer {
    color: #ddd;
    margin-top: 10px;
    text-align: center;
}